@page "/"

<PageTitle>Moogle!</PageTitle>

<h1>🔍 Moogle!</h1>

<input class="p-1 my-4" @bind="query" placeholder="Introduzca su búsqueda" @onkeyup="KeyPress">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
                <h5>¿Quisite decir <strong><a href="#" @onclick="Suggestion">@result.Suggestion</a></strong>?</h5>
    </div>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li>
        <div class="item">
            <p class="title">@item.Title</p>
            <p>... @item.Snippet ...</p>
        </div>
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    private void RunQuery() {
        result = Moogle.Query(query);
    }
    
    private void Suggestion()
    {
        query = result.Suggestion;
        result = Moogle.Query(query);
    }
    private void KeyPress(KeyboardEventArgs key)
    {
        if (key.Code == "Enter")
        {
            RunQuery();
        }
    }
}
