.results {
    text-align: left;
    font-size: larger;
    font-weight: bold;
    color: black;
    text-shadow: 2px 4px 8px white;
}

.item .title {
    font-size: x-large;
    font-weight: bolder;
}
